/* * {
  -webkit-transition: background-color var(--transitionTime) linear !important;
  -ms-transition: background-color var(--transitionTime) linear !important;
  transition: background-color var(--transitionTime) linear !important;
} */

#main-content {
  height: calc(100vh - var(--navbarHeight)); /* fallback */
  height: calc(var(--doc-height) - var(--navbarHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  padding-top: calc(var(--breadcrumbHeight) + var(--breadcrumbMargin)*2);
  background-color: transparent;
  overflow: auto;
}

#navbar {
  top: 0;
  height: var(--navbarHeight);
  padding: 0;
}

#navbar .navbar-brand span {
  display: none;
}

#navbar .navbar-brand img {
  filter: grayscale(1);
}

#navbar-container {
  padding: 0 var(--navbarPaddingX);
  height: 100%;
  display: flex;
  align-items: center;
}

#content-right {
  width: max-content;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#offcanvasNavbar-expand-lg .offcanvas-header {
  padding: 16px 20px;
}

#offcanvasNavbar-expand-lg .offcanvas-header .btn-close {
  margin-right: 10px;
}

.navbar-dark, #offcanvasNavbar-expand-lg.text-bg-dark .offcanvas-header {
  box-shadow: 0 5px 10px rgba(256,256,256,.2);
}

.navbar-light, #offcanvasNavbar-expand-lg.text-bg-light .offcanvas-header {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/* TODO - dropdown menu styling (dropdown on hover, arrow animation) */
.dropdown-menu.dropdown-menu-end {
  padding: 0;
  margin: 0 !important;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dropdown-menu.dropdown-menu-light {
  background-color: var(--lightPrimary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-menu.dropdown-menu-dark {
  background-color: var(--darkPrimary);
  box-shadow: rgba(256, 256, 256, 0.35) 0px 5px 15px;
}

.dropdown-toggle::after {
  vertical-align: middle !important;
  rotate: 180deg;
  transition: rotate 0.3s;
}

.dropdown-toggle.show::after, .dropdown-toggle:hover::after {
  vertical-align: middle;
  rotate: 360deg;
}

#offcanvasNavbar-expand-lg .offcanvas-body {
  padding-top: 0;
}

#offcanvasNavbar-expand-lg .nav-link {
  padding: 8px 10px;
}

#offcanvas-shadow {
  display: block;
  height: 74px;
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}

#main-themecontrol {
  display: none;
}

@media only screen and (min-width: 200px) {
  #main-themecontrol {
    display: block;
  }
}

@media only screen and (min-width: 350px) {
  #navbar .navbar-brand span {
    display: inline;
  }
}

@media only screen and (min-width: 992px) {
  /* .dropdown-menu {
    margin: 12px 0 0 0 !important;
  } */

  #offcanvas-shadow {
    display: none;
  }

  .nav-item.dropdown {
    height: var(--navbarHeight);
    display: flex;
    align-items: center;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}