* {
  -webkit-transition: background-color var(--transitionTime) linear !important;
  -ms-transition: background-color var(--transitionTime) linear !important;
  transition: background-color var(--transitionTime) linear !important;
}

.main-container {
  height: calc(100vh - var(--navbarHeight));
  background-color: transparent;
}

.navbar {
  top: 0;
  height: var(--navbarHeight);
  transition: top 0.3s;
}

.dark-switch {
  filter: brightness(0) invert(1);
}

.light-switch {
  filter: brightness(0.75);
}

#themeSwitch {
  width: 32px;
  height: 32px;
}