:root {
  --navbarHeight: 64px;
  --breadcrumbHeight: 24px;
  --breadcrumbMargin: 5px;
  --darkPrimary: #212529;
  --darkSecondary: #000;
  --lightPrimary: #f8f9fa;
  --lightSecondary: #fff;
  --transitionTime: 200ms;
  --navbarPaddingX: 20px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding-top: var(--navbarHeight);
  /* overflow-x: hidden; */
  overflow: hidden;
  --bs-body-bg: var(--darkPrimary);
}

#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#main-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}