#breadcrumb-container {
  width: 100%;
  margin: 0;
  z-index: 99;
  padding: 0 var(--navbarPaddingX);
  position: absolute;
  top: var(--navbarHeight);
  left: 0;
}

#breadcrumb-container.container-dark {
  background: var(--darkPrimary);
}

#breadcrumb-container.container-light {
  background: var(--lightPrimary);
}

#breadcrumb-container .breadcrumb {
  max-height: var(--breadcrumbHeight);
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.breadcrumb-item.breadcrumb-light a,
.breadcrumb-item.breadcrumb-light a::before,
.breadcrumb-item.breadcrumb-light::before {
  color: var(--lightPrimary);
  opacity: 0.8;
}

.breadcrumb-item.breadcrumb-light a:hover {
  opacity: 1;
}

.breadcrumb-item.breadcrumb-light a:active {
  opacity: 1;
  color: var(--darkSecondary);
}

.breadcrumb-item.breadcrumb-light.active,
.breadcrumb-item.breadcrumb-light.active::before {
  color: var(--lightPrimary);
  font-weight: 600;
}

.breadcrumb-item.breadcrumb-dark a,
.breadcrumb-item.breadcrumb-dark a::before,
.breadcrumb-item.breadcrumb-dark::before {
  color: var(--darkPrimary);
  opacity: 0.8;
}

.breadcrumb-item.breadcrumb-dark a:hover {
  opacity: 1;
}

.breadcrumb-item.breadcrumb-dark a:active {
  opacity: 1;
  color: var(--lightSecondary);
}

.breadcrumb-item.breadcrumb-dark.active,
.breadcrumb-item.breadcrumb-dark.active::before {
  color: var(--darkPrimary);
  font-weight: 600;
}